
{% extends "BaseGeneric.html" %} {% load static%}
 {% block content %}




 <section class="about-hero-section bg-gradient-1">
	 <img src="{% static 'img/64a3a23ba25bdfc4477c6210_vector-04.svg'%}"
    loading="eager" alt="" class="about-hero-decoration"/>
	 <div class="z-index">
		 <div class="w-layout-blockcontainer container-full w-container">
		 <div class="section-title-center"><h1> تمكين الشركات بحلول التسويقية الفعالة
  </h1>
		 <p class="about-hero-description">



       تمكين الشركات بحلول التسويقية الفعالة يعني توفير الأدوات والاستراتيجيات التي تساعد الشركات على تحقيق أهدافها التسويقية بشكل فعال وناجح. هنا بعض الطرق التي يمكن أن تساعد في تمكين الشركات بحلول التسويقية الفعالة
		 </p></div>
		 <div class="w-layout-grid grid-about-hero"
     ><div   class="about-counter-wrap">
			 <div class="about-hero-counter-one">
				 <h3 class="text-secondary-2">90M</h3>
				 <div class="about-hero-counter-title">Traffic Generated</div></div>
	 <div class="about-hero-decoration-one">
		 <img src="{% static 'img/64a39ae5c9f71e0de025c47b_vector-11.png'%}" loading="eager" alt="" class="decoration-image-one"/></div>
		 <div class="about-hero-counter-two">
			 <h3 class="text-secondary-3">20M+</h3><div class="about-hero-counter-title">Users Acquired</div></div></div>
		 <div class="about-hero-image-wrap">
			 <img src="{% static 'img/64a3a23ba25bdfc4477c6211_vector-19.webp'%}" loading="eager" alt="" class="about-hero-image"/></div>
		 <div  class="about-counter-wrap-one">
			 <div class="about-hero-counter-three">
				 <h3 class="text-secondary-2">50+</h3>
				 <div class="about-hero-counter-title">Team Members</div></div>
				 <div class="about-hero-decoration-two">
					 <img src="{% static 'img/64a39136d4c2d3a210c74c78_vector-05.webp'%}" loading="eager" alt="" class="decoration-image-two"/>
				 </div><div class="about-hero-counter-four"><h3 class="text-primary-1">420</h3>
			 <div class="about-hero-counter-title">Projects Completed</div></div></div></div></div></div>
			 <div class="about-hero-blur-bottom"></div><div class="about-hero-blur-left"></div>
			 <div class="about-hero-blur-right"></div></section>





			 <section class="about-service-section section-spacing-bottom">
				 <div class="w-layout-blockcontainer container-full w-container">
					 <div class="w-layout-grid grid-about-service">
						 <div id="w-node-b3b893f7-3544-307c-4e7d-62d50a668e20-477c50d9">
							 <h3>   ممارسات شفافة وأخلاقية    </h3>
							 <div>رفيقك الموثوق به نحو النمو المستدام </div>
						 </div><div><h5>خدمات </h5>
							 <div class="w-layout-grid grid-about-service-list">
								 <div  class="w-layout-vflex service-flex">
									 <a href="" class="about-service-item w-inline-block">
                     <img src="{% static 'img/64a390dc05c8ef1dd3d0e75b_list-point.png'%}" loading="lazy" alt=""/>
										 <div class="about-service-title">   البحث عن الكلمه الرئيسيه</div></a>
                     <a href="" class="about-service-item w-inline-block">
                       <img src="{% static 'img/64a390dc05c8ef1dd3d0e75b_list-point.png'%}" loading="lazy" alt=""/>
											 <div class="about-service-title">     التدقيق الفني لكبار المسئولين الاقتصاديين
</div></a>
									 <a href="" class="about-service-item w-inline-block">
                     <img src="{% static 'img/64a390dc05c8ef1dd3d0e75b_list-point.png'%}" loading="lazy" alt=""/>
							 <div class="about-service-title"> إنشاء المحتوى وتحسينه
</div></a></div>
							 <div class="w-layout-vflex service-flex">
								 <a href=" " class="about-service-item w-inline-block">
                   <img src="{% static 'img/64a390dc05c8ef1dd3d0e75b_list-point.png'%}" loading="lazy" alt=""/>
					 <div class="about-service-title"> تطوير استراتيجية    </div></a>
					 <a href=" " class="about-service-item w-inline-block">
             <img src="{% static 'img/64a390dc05c8ef1dd3d0e75b_list-point.png'%}" loading="lazy" alt=""/>
						 <div class="about-service-title"> تحسين وسائل التواصل الاجتماعية
    </div></a>
						 <a href="" class="about-service-item w-inline-block">
						 <img src="{% static 'img/64a390dc05c8ef1dd3d0e75b_list-point.png'%}" loading="lazy" alt=""/>
						 <div class="about-service-title"> التقارير والتحليلات  </div></a>
					 </div></div></div></div></div></section>

						 <section class="split-about-section section-spacing-bottom">
							 <div class="w-layout-blockcontainer container-full w-container">
								 <div class="w-layout-grid grid-split-about">
									 <div>
						 <img src="{% static 'img/64a3a3bffecf28d343a9f350_vector-20.webp'%}" loading="eager"
						 alt="" sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 860px) 93vw, 800px"
						 srcset="{% static 'img/64a3a3bffecf28d343a9f350_vector-20-p-500.webp'%} 500w,
						  {% static 'img/64a3a3bffecf28d343a9f350_vector-20.webp'%} 800w"/>
					 </div><div  >



						 <h3>
							 تمكين النجاح الرقمي  :  مهمتنا </h3>

							 <p>
								 مهمتنا    هي إحداث ثورة في التواجد عبر الإنترنت للشركات من خلال توفير حلول  التي تحقق نتائج ملموسة.
							 </p>
							 <h6 class="split-about-description">
								 لإنجاز مهمتنا، نحن نجمع بين الاستراتيجيات المبتكرة والرؤى المستندة إلى البيانات والخبرة .

							 </h6>
							 <div class="w-layout-grid grid-our-mission">
								 <div  class="our-mission-list">
								 <div class="our-mission-item">
							 <img src="{% static 'img/64a390f5e20bb4386d5fe2cf_list-icon.svg'%}" loading="eager" alt=""/>
							 <div class="our-mission-title"> الجمهور المستهدف  </div></div>
							 <div class="our-mission-item">
                 <img src="{% static 'img/64a390f5e20bb4386d5fe2cf_list-icon.svg'%}" loading="eager" alt=""/>
								 <div class="our-mission-title">   دفع للنمو</div></div></div>
                 <div   class="our-mission-list">
									 <div class="our-mission-item">
                     <img src="{% static 'img/64a390f5e20bb4386d5fe2cf_list-icon.svg'%}" loading="eager" alt=""/>
										 <div class="our-mission-title">رؤية العلامة التجارية</div></div><div class="our-mission-item">
											 <img src="{% static 'img/64a390f5e20bb4386d5fe2cf_list-icon.svg'%}" loading="eager" alt=""/>
											 <div class="our-mission-title"> عرض أعمالنا  </div></div>
						 </div></div><a href="#" class="button-primary w-button">عرض أعمالنا</a></div></div></div></section>




						 <section class="our-value-section section-spacing-bottom">
						  <img src='{% static "img/6-image-PBDWS6V.png"%}'
							 loading="eager" data-w-id="6b560c48-5b8c-960d-70f3-2e8916008b49" alt="" class="decoration-eleven"/>
							 <div class="w-layout-blockcontainer container-full w-container"><div class="our-value-section-title">
							 <h3>  قيمنا </h3><div>
								 تحدد قيمنا الأساسية من نحن كشركة وكيف نعمل.
								</div></div>
							 <div class="our-value-wrap">
								 <div class="our-value-item"><div class="our-value-icon-wrap">
									 <img src="{% static 'img/64a3a3f137ef9a11b0adfcbf_value-03.svg'%}" loading="eager" alt=""/>
								 </div>


								 <h6 class="margin-bottom-20">تعاون</h6>
								 <div>
إطلاق العنان لقوة التعاون لتعزيز الإبداع وتعزيز الإنتاجية وما إلى ذلك
						 </div></div>
						 <div class="our-value-item"><div class="our-value-icon-wrap">
							 <img src="{% static 'img/64a3a3f137ef9a11b0adfcc2_value-02.svg'%} " loading="eager" alt=""/>


						 </div>



							 <h6 class="margin-bottom-20">ابتكار
</h6>
				 <div>
					 إنجازات ملهمة من خلال الإبداع والتكنولوجيا
				 </div></div>


								 <div class="our-value-item"><div class="our-value-icon-wrap">
									 <img src="{% static 'img/64a3a3f137ef9a11b0adfcc1_value-01.svg'%}" loading="eager" alt=""/>
								 </div>
									 <h6 class="margin-bottom-20">نزاهة</h6>
									 <div>
										 نحن نتمسك بأعلى معايير النزاهة والصدق والسلوك الأخلاقي.
									 </div></div>

 <div class="our-value-item"><div class="our-value-icon-wrap">
								 <img src="{% static 'img/64a39053a465ca897187ffc7_service%20-01.png'%}" loading="eager" alt=""/></div>
								 <h6 class="margin-bottom-20">
									 النتائج - مدفوعة

								 </h6><div>
ملتزمون بتحقيق نتائج ملموسة وتحقيق نتائج ذات مغزى من خلال الاستراتيجيات القائمة على البيانات.					 </div>
							 </div>
							 <div class="our-value-item"><div class="our-value-icon-wrap">
								 <img src="{% static 'img/64a3a3f137ef9a11b0adfcc0_value-05.svg'%}" loading="eager" alt=""/></div>
								 <h6 class="margin-bottom-20">
									 خدمة الزبائن
								 </h6>
								 <div>
									 دعم استثنائي ومساعدة شخصية وحل سريع للمشكلات لتحقيق رضا العملاء وعلاقاتهم الدائمة.
								 </div></div>
							 </div></div></section>


<!--
							 <section class="team-section z-index"><div class="section-title-center">
								 <h3>فريقنا</h3>
							 </div><div class="w-layout-blockcontainer container-full w-container">
								 <div class="w-dyn-list">
								 <div role="list" class="grid-team-list w-dyn-items">
									 <div role="listitem" class="w-dyn-item">

									 <div data-w-id="a98054fe-c556-91b4-9938-fef758eb6110" class="team-item">
										 <a href="/team/louis-ferguson" class="team-image-wrap w-inline-block">
											 <img alt="" loading="eager" style="height:100%" src="https://assets.website-files.com/64a3921df0df3bde4548a49f/64a68e9436e8f756c9caa2b8_team-01.jpg"
											 sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 45vw, (max-width: 1279px) 22vw, 21vw"
											  srcset="https://assets.website-files.com/64a3921df0df3bde4548a49f/64a68e9436e8f756c9caa2b8_team-01-p-500.jpg 500w,
											  https://assets.website-files.com/64a3921df0df3bde4548a49f/64a68e9436e8f756c9caa2b8_team-01.jpg 800w" class="team-image"/></a>


                      	<div style="opacity:0" class="team-hover-item">
												 <a href="/team/louis-ferguson" class="team-name-wrap w-inline-block">
													 <div>SEO Specialist</div><h6>Louis Ferguson</h6></a>
													 <div class="team-social-media"><a href="https://www.facebook.com/" class="w-inline-block">
														 <img src="https://assets.website-files.com/64a2a5e197e122de7cab216b/64a3a460fb04147ed0f387e5_light-facebook.svg" loading="eager" alt=""/></a>
														 <a href="https://www.twitter.com/" class="w-inline-block">
															 <img src="https://assets.website-files.com/64a2a5e197e122de7cab216b/64a3a460fb04147ed0f387e6_light-twitter.svg" loading="eager" alt=""/></a>
															 <a href="https://www.linkedin.com/" class="w-inline-block">
																 <img src="https://assets.website-files.com/64a2a5e197e122de7cab216b/64a3a460fb04147ed0f387e7_light-limkedin.svg" loading="eager" alt=""/></a>
															 </div></div>
								 </div></div>


                 <div role="listitem" class="w-dyn-item">
									 <div data-w-id="a98054fe-c556-91b4-9938-fef758eb6110" class="team-item">
									 <a href="/team/samuel-bishop" class="team-image-wrap w-inline-block">
										 <img alt="" loading="eager" style="height:100%" src="https://assets.website-files.com/64a3921df0df3bde4548a49f/64a68ea24faf9d75536e2c19_team-02.jpg"
										 sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 45vw, (max-width: 1279px) 22vw, 21vw"
										  srcset="https://assets.website-files.com/64a3921df0df3bde4548a49f/64a68ea24faf9d75536e2c19_team-02-p-500.jpg 500w,
											https://assets.website-files.com/64a3921df0df3bde4548a49f/64a68ea24faf9d75536e2c19_team-02.jpg 800w" class="team-image"/></a>


                    	<div style="opacity:0" class="team-hover-item"><a href="/team/samuel-bishop" class="team-name-wrap w-inline-block">
												<div>Content Strategist</div><h6>Samuel Bishop</h6></a>
										 <div class="team-social-media"><a href="https://www.facebook.com/" class="w-inline-block">
											 <img src="https://assets.website-files.com/64a2a5e197e122de7cab216b/64a3a460fb04147ed0f387e5_light-facebook.svg" loading="eager" alt=""/></a>
											 <a href="https://www.twitter.com/" class="w-inline-block">
										 <img src="https://assets.website-files.com/64a2a5e197e122de7cab216b/64a3a460fb04147ed0f387e6_light-twitter.svg" loading="eager" alt=""/></a>
										 <a href="https://www.linkedin.com/" class="w-inline-block">
											 <img src="https://assets.website-files.com/64a2a5e197e122de7cab216b/64a3a460fb04147ed0f387e7_light-limkedin.svg" loading="eager" alt=""/></a>
										 </div></div></div></div>

											 <div role="listitem" class="w-dyn-item">
                         <div data-w-id="a98054fe-c556-91b4-9938-fef758eb6110" class="team-item">
												 <a href="/team/frances-guerrero" class="team-image-wrap w-inline-block">
													 <img alt="" loading="eager" style="height:100%" src="https://assets.website-files.com/64a3921df0df3bde4548a49f/64a68eb1acd04c2cba9b0802_team-03.jpg"
													  sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 45vw, (max-width: 1279px) 22vw, 21vw"
														 srcset="https://assets.website-files.com/64a3921df0df3bde4548a49f/64a68eb1acd04c2cba9b0802_team-03-p-500.jpg 500w,
														  https://assets.website-files.com/64a3921df0df3bde4548a49f/64a68eb1acd04c2cba9b0802_team-03.jpg 800w" class="team-image"/></a>
                            	<div style="opacity:0" class="team-hover-item">
                         <a href="/team/frances-guerrero" class="team-name-wrap w-inline-block">
												 <div>Project Manager</div><h6>Frances Guerrero</h6></a>
                         <div class="team-social-media">
													 <a href="https://www.facebook.com/" class="w-inline-block">
														 <img src="https://assets.website-files.com/64a2a5e197e122de7cab216b/64a3a460fb04147ed0f387e5_light-facebook.svg" loading="eager" alt=""/></a>
														 <a href="https://www.twitter.com/" class="w-inline-block"><img src="https://assets.website-files.com/64a2a5e197e122de7cab216b/64a3a460fb04147ed0f387e6_light-twitter.svg" loading="eager" alt=""/></a><a href="https://www.linkedin.com/" class="w-inline-block"><img src="https://assets.website-files.com/64a2a5e197e122de7cab216b/64a3a460fb04147ed0f387e7_light-limkedin.svg" loading="eager" alt=""/></a>
												 </div></div></div></div>


												 <div role="listitem" class="w-dyn-item">
													 <div data-w-id="a98054fe-c556-91b4-9938-fef758eb6110" class="team-item">
														 <a href="/team/larry-lawson" class="team-image-wrap w-inline-block">
															 <img alt="" loading="eager" style="height:100%" src="https://assets.website-files.com/64a3921df0df3bde4548a49f/64a68ebf6a633fc811531973_team-04.jpg"
															 sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 45vw, (max-width: 1279px) 22vw, 21vw"
															 srcset="https://assets.website-files.com/64a3921df0df3bde4548a49f/64a68ebf6a633fc811531973_team-04-p-500.jpg 500w,
															  https://assets.website-files.com/64a3921df0df3bde4548a49f/64a68ebf6a633fc811531973_team-04.jpg 800w" class="team-image"/></a>

                             	 <div>Marketing Analyst</div><h6>Larry Lawson</h6>


                                 </div></div></div></div></div></section>

 -->













  {% endblock %}
